.inv{
    display: none;
}
    #summary {
        font-size: 14px;
        line-height: 1.5;
      }
      
      #summary p.collapse:not(.show) {
          height: 42px !important;
          overflow: hidden;
        
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;  
      }
      
      #summary p.collapsing {
          min-height: 42px !important;
      }
      
      #summary a.collapsed:after  {
          content: 'Подробнее';
          color: #ffffff;
      }
      
      #summary a:not(.collapsed):after {
          content: 'Свернуть';
          color: #ffffff;
      }
      .white{
          color:  #2ec700 !important;
          font-size: 30px !important;
      }
      .white2{
        color:  #ffffff !important;
        font-size: 30px !important;
    }

    @media screen and (max-width: 575px) {
        .white2  { font-size: 25px !important;
            color:  #000000 !important;}
        .white  { font-size: 25px !important;}
    
    }